<%- include ('./partials/header') %>

<h4><%= currentUser %></h4>

<div class="container">
<header class="jumbotron"> 
    <div class="container">
    <h2> Festember's Booze Party</h2>
    <p>View all our drinks!</p>
    <p>
        <a class="btn btn-primary btn-large" href="/party/new">Add new drink</a>
        
    </p>
</div>    
</header>

<div class="row" style="display:flex; flex-wrap:wrap">
   <% party.forEach(function(party){ %>
    <div class="col-md-3 col sm-6"> 
        <div class="thumbnail"> 
            <img src="<%= party.image %>">
            <div class="caption"> 
                <h4><%= party.name %></h4>
            </div> 
            <p>
                <a href="/party/<%= party._id %>" class="btn btn-primary">More Info</a>
            </p>
                  
        </div>
    </div>
    <% }); %>

</div>












<%- include ('./partials/footer') %>



